extends ../layout

block body
  div(ng-view)
  .container
    .row
      .col-sm-12
        h1 Content Here!!
        br
        br
        h3 Pages
        ul
          li: a(href="/#/test") Templated Angular
          li: a(href="/rest-examples") REST Calls
          li: a(href="/todos") Todo List App
          li: a(href="/protected") Passport Auth Login
